@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;700&display=swap');

body{
    font-family: 'Baloo Bhaijaan 2', cursive;
}

.boxLogin {
    width: 40%;
    height: 30%;
    margin: 20% auto;
}

.boxLogin form{
    background-color: skyblue;
    display: flex;
    flex-flow: column wrap;
    place-items: center;
    padding: 5px;
    gap: 10px;
}